<div 
  role="radiogroup" 
  [attr.aria-labelledby]="id" 
  class="button-group">
  <label [attr.id]="id">{{ label }}</label>
  <button
    role="radio"
    [att.aria-checked]="value === options.YES"
    type="button"
    class="button button-yes"
    [class.button-pressed]="value === options.YES"
    (click)="activate(options.YES)"
  >
    Yes
  </button>
  <button
    role="radio"
    [att.aria-checked]="value === options.NO"
    type="button"
    class="button button-no"
    [class.button-pressed]="value === options.NO"
    (click)="activate(options.NO)"
  >
    No
  </button>
</div>
