<div 
  keyboardManager
  role="radiogroup" 
  [attr.aria-labelledby]="id" 
  class="button-group">
  <label [attr.id]="id">{{ label }}</label>
  <button
    keyboardManagerItem
    (focused)="activate(options.YES)"
    role="radio"
    [tabindex]="value === options.YES || value === null ? 0 : -1"
    [attr.aria-checked]="value === options.YES"
    type="button"
    class="button button-yes"
    [class.button-pressed]="value === options.YES"
    (click)="activate(options.YES)"
  >
    Yes
  </button>
  <button
    (focused)="activate(options.NO)"
    keyboardManagerItem
    role="radio"
    [tabindex]="value === options.NO || value === null ? 0 : -1"
    type="button"
    class="button button-no"
    [class.button-pressed]="value === options.NO"
    (click)="activate(options.NO)"
  >
    No
  </button>
</div>
