/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #272c3f;
}

:focus {
    outline: 2px solid orange;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    border: 1px solid #aeb6c6;
    padding: 0.5rem 0.75rem;
    margin: 1rem 0;
    color: #000;
    background-color: #fff;
    cursor: pointer;
}